.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    max-width: 100%;
    background-color: var(--color-white);
    border-radius: 13px;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  }
  
@media only screen and (min-width: 920px) {
  .calculator {
    flex-direction: row;
    align-items: stretch;
    max-width: 810px;
  }
}