.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  margin-top: 60px;
}
footer {
  color: var(--color-very-dark-cyan);
  margin-bottom: 50px;
  text-align: center;
}
a {
  color: var(--color-very-dark-cyan);
  font-weight: bold;
  /* text-decoration: none; */
}
a:hover {
  cursor: pointer;
  color: var(--color-dark-grayish-cyan-1);
}
@media only screen and (min-width: 920px) {
    header {
      margin-top: 100px;
    }
}